{% extends 'base.html' %}

{% load static %}
{% block content %}

    <!-- Preloader -->
    <div id="preloader">
        <i class="circle-preloader"></i>
        <img src="{% static 'img/core-img/pizza.png' %}" alt="">
    </div>

    <!-- Search Wrapper -->
    <div class="search-wrapper">
        <!-- Close Btn -->
        <div class="close-btn"><i class="fa fa-times" aria-hidden="true"></i></div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <form action="{% url 'buscar' %}" >
                        <input type="search" name="buscar" placeholder="O que está procurando...">
                        <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">

        <!-- Top Header Area -->
        <div class="top-header-area">
            <div class="container h-100">
                <div class="row h-100 align-items-center justify-content-between">
                    <!-- Breaking News -->
                    <div class="col-12 col-sm-6">
                        <h5> Bem vindo!</h5>                        
                    </div>

                    <!-- Top Social Info -->
                    <div class="col-12 col-sm-6">                        
                    </div>
                </div>
            </div>
        </div>

        <!-- Navbar Area -->
        <div class="delicious-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="deliciousNav">

                        <!-- Logo -->
                        <a class="nav-brand" href="{% url 'veiculos' %}"><img src="{% static 'img/core-img/logo.png' %}" alt=""></a>


                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                             <!-- Nav Start -->
                        <div class="classynav">
                            <ul>
                                <li><a href="{% url 'veiculos' %}">Veiculos</a></li> 
                                <li><a href="{% url 'logout' %}">Logout</a></li>
                                <li><a href="{% url 'abastecimento' %}">Novo Abastecimento</a></li>                                
                            </ul>                            
                                <!-- Formulario de busca -->
                                <div class="search-btn">
                                    <i class="fa fa-search" aria-hidden="true">         BUSCA</i>
                                </div>
                                <!-- Formulario de busca -->

                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Best Receipe Area Start ##### -->
    <section >
        <div >
            <div>              
                <!-- Single Best Receipe Area -->
                <div align=center>
                    <table border ='1' width = '80%' >
                        <thead>
                            <tr align=center>
                                <th>Data de Abastecimento</th>
                                <th>Kilometragem</th>
                                <th>Litros</th>
                                <th>Valor</th>
                                <th>Posto</th>
                                <th>Motorista</th>
                                <th>Combustivel</th>
                                <th>Usuario de criação</th>
                                <th>Data de Registro</th>
                            </tr>  
                        </thead>
                        <tbody>
                            {% if abastecimentos %}
                            {% for abastecimento in abastecimentos %}
                            <tr align=center>
                                <td >{{abastecimento.data_abastecimento}}</td>
                                <td>{{abastecimento.km}}</td>
                                <td>{{abastecimento.litros}}</td>
                                <td>{{abastecimento.valor}}</td>
                                <td>{{abastecimento.posto}}</td>
                                <td>{{abastecimento.motorista}}</td>
                                <td>{{abastecimento.combustivel}}</td>
                                <td>{{abastecimento.usuario_de_criacao}}</td>
                                <td>{{abastecimento.data_registro}}</td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            {% endif %}
                        </tbody>
                    </table>
                </div> 
                
            </div>
        </div>
    </section>
    <!-- ##### Best Receipe Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-12 h-100 d-flex flex-wrap align-items-center justify-content-between">                 
                    <div class="footer-logo">
                        <a href="index.html"><img src="img/core-img/logo.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area Start ##### -->

    {% endblock%}